<ion-view view-title='{{viewTitle}}' ng-init="init()" hide-nav-bar="true">
  <ion-content>
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="customeTheme" md-theme-watch>
          <md-card-actions layout="row" layout-align="end center">            
            <md-button class="md-raised md-primary"><md-icon class="material-icon">clear_all</md-icon>全部不同意</md-button>
            <md-button class="md-raised md-accent"><md-icon class="material-icon">done_all</md-icon>全部同意</md-button>
          </md-card-actions>        
        </md-card>   
        <md-card md-theme="customeTheme" md-theme-watch>
          <md-card-title>
            <md-card-title-text>            
              <span class="md-headline" layout-align="center">
                 呂幸娟 特休
              </span>              
              <span class="md-subhead">
                <div layout="row">
                  <div flex="20"><md-icon class="material-icon">schedule</md-icon></div>
                  <div flex>2016/04/01&nbsp;09：00&nbsp;~&nbsp;</div>
                </div>
                <div layout="row">
                  <div flex="20">&nbsp;</div>
                  <div flex>2016/04/01&nbsp;09：30</div>
                </div> 
                <br/>
                <div layout="row">
                  <div flex="20"><md-icon class="material-icon">description</md-icon></div>
                  <div flex>帶小孩看醫生</div>
                </div>                  
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">            
            <md-button class="md-raised md-primary"><md-icon class="material-icon">clear</md-icon>不同意</md-button>
            <md-button class="md-raised md-accent"><md-icon class="material-icon">done</md-icon>同意</md-button>
          </md-card-actions>
      </md-card>   
        <md-card md-theme="customeTheme" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">呂幸娟 特休</span>
              <span class="md-subhead">
                <div layout="row">
                  <div flex="20"><md-icon class="material-icon">schedule</md-icon></div>
                  <div flex>2016/04/01&nbsp;09：00&nbsp;~&nbsp;</div>
                </div>
                <div layout="row">
                  <div flex="20">&nbsp;</div>
                  <div flex>2016/04/01&nbsp;09：30</div>
                </div>               
                
                
                <br/>
                出門有點狀況
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary"><md-icon class="material-icon">clear</md-icon>不同意</md-button>
            <md-button class="md-accent"><md-icon class="material-icon">done</md-icon>同意</md-button            
          </md-card-actions>
      </md-card> 
        <md-card md-theme="customeTheme" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">呂幸娟 特休</span>
              <span class="md-subhead">
                <div layout="row">
                  <div flex="20"><md-icon class="material-icon">schedule</md-icon></div>
                  <div flex>2016/04/01&nbsp;09：00&nbsp;~&nbsp;</div>
                </div>
                <div layout="row">
                  <div flex="20">&nbsp;</div>
                  <div flex>2016/04/01&nbsp;09：30</div>
                </div>   
                小孩賴床
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">            
            <md-button><md-icon class="material-icon">clear</md-icon>不同意</md-button>
            <md-button><md-icon class="material-icon">done</md-icon>同意</md-button>
          </md-card-actions>
      </md-card>                  
      </div>
    </md-content>
  </ion-content>
</ion-view>
