<ion-view view-title='{{viewTitle}}'>
	<ion-nav-buttons side="left">
  	<button class="button"  >
  		<i class="ion-arrow-left-c"></i> Back
  	</button>
  </ion-nav-buttons>
  <ion-content >  	
  	<ion-list >
  		<ion-item class="item-icon-right item-text-wrap" >
  			請先登入系統
  		</ion-item>
  	</ion-list>
	  <ion-list >      	    				
	  	<ion-item class="item-icon-right item-text-wrap" >
	  		aaa
	  	</ion-item>
	  	<ion-item class="item-icon-right item-text-wrap" >
	  		bbb
	  	</ion-item>	  	
 		</ion-list> 
 		<!-- report detail here -->
 		<!--
  	<div class="list card" ng-if="isShowMySendingLeaveRecord">
  	--> 		
  </ion-content>
</ion-view>

